---
layout: base
---
<article class="hentry">
    <header class="entry-header anim-reveal">
        <h1 class="entry-title">{{title}}</h1>
    </header>
    <div class="entry-content anim-reveal">
        {{ content | safe }}
    </div>
</article>