---
layout: base
---
<div class="posts-list anim-reveal">
    {% set postslist = collections._posts | languageFilter | sortBy('date', true) %}
    {% include "posts.njk" %}
    {{ content | safe }}
</div>