---
layout: base
---
<h1 class="anim-reveal">{{ 'tags.tagged' | translate }} “{{ tag }}”</h1>

{{ content | safe }}

<ul class="postlist anim-reveal" x-data="{ notesFilter: 'all' }">
    {% set postslist = collections[ tag ] | languageFilter | reverse %}
    {% include "posts.njk" %}
</ul>